nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}

ul{
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    width: 100%;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: white;
    color: rgba(12, 3, 51, 0.3);
    border: 2px solid rgba(12, 3, 51, 0.3);

}